.title-wel-2 {
    width: 100%;
    min-height: 48px;
    background: #009f82;
    line-height: 48px;
    color: #FFF;
    float: left;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 7px;

}

.text-inn {
    width: 101%;
    height: auto;
    float: left;
    text-align: justify;
    margin-left: 10px;
}

.contact-left {
    width: 400px;
    min-height: 300px;
    float: left;
    border: 1px solid #009f82;
    margin: 20px 10px 0 60px;
}

.news-tit {
    width: 100%;
    height: 40px;
    float: left;
    line-height: 40px;
    font-size: 20px;
    background: #009f82;
    color: #FFF;
    text-align: center;
}

.conta-tect-box {
    width: 380px;
    height: auto;
    float: left;
    padding: 10px;
}

.ma-top {
    margin-top: 10px;
}

.title-wel-2 {
    width: 100%;
    min-height: 48px;
    background: #009f82;
    line-height: 48px;
    color: #FFF;
    float: left;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 7px;
}

.text-inn {
    width: 101%;
    height: auto;
    float: left;
    text-align: justify;
    margin-left: 10px;
}

.enquiry-left-box {
    width: 401px;
    height: auto;
    float: left;
    border-right: 1px solid #009f82;
}

.enquiry-right-box {
    width: 200px;
    height: auto;
    float: left;
    padding: 10px;
    margin: 0 0 0 20px;
}

.enquiry-right-box-img {
    min-width: 300px;
    float: left;
    height: auto;
    text-align: center;
}

.style1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.style2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.info-100 {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}