/* *{
    margin: 50px 50px 50px 50px;

} */

.home{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}
.first{
    width: 1000px;
    height: auto;
    margin: auto;
    padding-top: 30px;
}
.left{
    width: 647px;
    height: auto;
    float: left;
    text-align: justify;
}
.title{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;

}
.chairman{
    float: right;
    border:1px solid rgb(61, 129, 132);
    width: 240px;
    height: 150px;
    margin: 10px 10px 10px 10px;

}
.more{
    background-color: cadetblue;
    width: 70px;
    height: 40px;
    padding: 10px;
    color: white;
    line-height: 40px;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.right{
   float: left;
   width: 300px;
   
}
.video-head{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
}
.video{
    width: 300px;
    float: left;
    border: 1px solid cadetblue;
    margin-bottom: 20px;
}
.course-topic{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 15px;

}
.two-img{
    float: left;
    width: 600px;
    display: flex;
}
.img-one{
    width: 250px;
    /* height: 245px; */
    float: left;
    margin-top: 30px;
    background-color: beige;
    margin-left: 15px;
    border-image:  1px solid cadetblue;
    margin-right: 40px;
}
.img-two{
    width: 250px;
    /* height: 245px; */
    float: right;
    margin-top: 30px;
    background-color: beige;
    margin-left: 15px;
     border-image: 1px solid cadetblue;
}
.bottom{
    margin-top: 30px;
    width: 100%;
    float: left;
    
    

}
.news{
   
    height: 300px;
    width: 450px;
    margin-top: 50px;
    float: left;
    border: 1px solid rgb(31, 59, 60);
    
   
}
.news-head{
    background-color: cadetblue;
    width: 100%;
    height: 35px;
    float: left;
    color: white;
    text-align: center;
    font-size: 20px;
}

.fullNews{
    width: auto;
    height: 255px;
    background-color: rgb(123, 204, 206);
    margin: 0 ;
    color: white;
}
.container{
    padding: 5px;
    overflow: hidden;
    height: 230px;
    margin: 0;
}
/* .dot{
    background-color: cadetblue;
    padding: 10px;

} */
.events{
    height: 300px;
    width: 450px;
    margin-top: 50px;
    float: left;
    border: 1px solid rgb(31, 59, 60);

    margin-left: 50px;
}
.eventHead{
    background-color: cadetblue;
    width: 100%;
    height: 35px;
    float: left;
    color: white;
    text-align: center;
    font-size: 20px;
}
.fullEvents{
    width: auto;
    height: 255px;
    background-color: rgb(123, 204, 206);
    margin: 0 ;
    color: white;

}
.abroad{
    

}
.abroadHead{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
    margin-top: 50px;
    
   
    
}
.box{
   width: 100%;
   height: auto;
   float: left;
   position: relative;

}

.three-box{
    width: 100%;
    margin-left: 15%;
    margin-top: 50px;
    height: 80px;
    position: relative;
    display: flex;
    margin-bottom: 50%;
   
}
.box1{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-weight: 10;
    color: rgb(123, 117, 117);

}
.box2{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    
}
.box3{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
}
