.logo{
    position: relative;
    margin-left: 18%;
}
.toptext{
    position: relative;
    margin-left: 25%;
    bottom: 6.5rem;
    font-size: 25px;
    color: #719f82;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottomtext{
    position: relative;
    margin-left: 25%;
    bottom: 7.5rem;
    font-size: 18px;
}
.contactinfo{
    position: relative;
    margin-left: 65%;
    bottom: 13rem;
    
}
.switchbuttons{
    position: relative;
    bottom: 9rem;
    background-color: #e2dfde;
    width: 100%;
    height: 2rem;
    padding: 20px;
    
}
.button{
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    padding: 1%;
}.button:hover{
    background-color: #009f82;
}
.buttons{
    margin-left: 13%;
    
}
.images{
    position: relative;
    top: .5rem;
    width: 100%;
    margin-left: -20px;
}
.floating{
    position: relative;
    top: 30%;
    color: red;
}
.bottombuttons{
    position: relative;
    bottom: -50%;
    padding: 20px;
    background-color: #e2dfde;
    width: 100%;
    margin-left: -20px;
}
.bottombtns{
    margin-left: 100px;
}
.btn1{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    background-color: #84bd3c;
    border-color: transparent;
    color: white;
}
.btn1:hover{
    color: black;
}

.btn2{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #c44e95;
}
.btn2:hover{
    color: black;
}
.btn3{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #ee2d2d;
}
.btn3:hover{
    color: black;
}
.btn4{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #3f51c7;
}
.btn4:hover{
    color: black;
}
.btn5{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #faa820;
}
.btn5:hover{
    color: black;
}
.btn6{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #00a6e4;
}
.btn6:hover{
    color: black;
}
.btn7{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 10rem;
    border-color: transparent;
    color: white;
    background-color: #009f82;
}
.btn7:hover{
    color: black;
}

.btn{
    background-color: transparent;
    border-color: transparent;
}
.btn:hover{
    color: #10a489;
}
.footerbuttons{
    margin-left: 15%;
}
.footertext{
    position: relative;
    top: 3rem;
    margin-left: 1%;
    color: #848383;
}
.pow{
    position: relative;
    margin-left: 80%;
    top: 2rem;
    color: #848383;
}
.a1{
    text-decoration: none;
    color: #bfbebe;
}
/* *{
    margin: 50px 50px 50px 50px;

} */

.home{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}
.first{
    width: 1000px;
    height: auto;
    margin: auto;
    padding-top: 30px;
}
.left{
    width: 647px;
    height: auto;
    float: left;
    text-align: justify;
}
.title{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;

}
.chairman{
    float: right;
    border:1px solid rgb(61, 129, 132);
    width: 240px;
    height: 150px;
    margin: 10px 10px 10px 10px;

}
.more{
    background-color: cadetblue;
    width: 70px;
    height: 40px;
    padding: 10px;
    color: white;
    line-height: 40px;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.right{
   float: left;
   width: 300px;
   
}
.video-head{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
}
.video{
    width: 300px;
    float: left;
    border: 1px solid cadetblue;
    margin-bottom: 20px;
}
.course-topic{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 15px;

}
.two-img{
    float: left;
    width: 600px;
    display: flex;
}
.img-one{
    width: 250px;
    /* height: 245px; */
    float: left;
    margin-top: 30px;
    background-color: beige;
    margin-left: 15px;
    border-image:  1px solid cadetblue;
    margin-right: 40px;
}
.img-two{
    width: 250px;
    /* height: 245px; */
    float: right;
    margin-top: 30px;
    background-color: beige;
    margin-left: 15px;
     border-image: 1px solid cadetblue;
}
.bottom{
    margin-top: 30px;
    width: 100%;
    float: left;
    
    

}
.news{
   
    height: 300px;
    width: 450px;
    margin-top: 50px;
    float: left;
    border: 1px solid rgb(31, 59, 60);
    
   
}
.news-head{
    background-color: cadetblue;
    width: 100%;
    height: 35px;
    float: left;
    color: white;
    text-align: center;
    font-size: 20px;
}

.fullNews{
    width: auto;
    height: 255px;
    background-color: rgb(123, 204, 206);
    margin: 0 ;
    color: white;
}
.container{
    padding: 5px;
    overflow: hidden;
    height: 230px;
    margin: 0;
}
/* .dot{
    background-color: cadetblue;
    padding: 10px;

} */
.events{
    height: 300px;
    width: 450px;
    margin-top: 50px;
    float: left;
    border: 1px solid rgb(31, 59, 60);

    margin-left: 50px;
}
.eventHead{
    background-color: cadetblue;
    width: 100%;
    height: 35px;
    float: left;
    color: white;
    text-align: center;
    font-size: 20px;
}
.fullEvents{
    width: auto;
    height: 255px;
    background-color: rgb(123, 204, 206);
    margin: 0 ;
    color: white;

}
.abroad{
    

}
.abroadHead{
    background-color: cadetblue;
    color: white;
    width:95%;
    height: 48px;
    float: left;
    border-radius: 5px;
    padding-left: 20px ;
    /* padding-top: 20px; */
    font-weight: 300;
    line-height: 48px;
    margin-top: 50px;
    
   
    
}
.box{
   width: 100%;
   height: auto;
   float: left;
   position: relative;

}

.three-box{
    width: 100%;
    margin-left: 15%;
    margin-top: 50px;
    height: 80px;
    position: relative;
    display: flex;
    margin-bottom: 50%;
   
}
.box1{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-weight: 10;
    color: rgb(123, 117, 117);

}
.box2{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    
}
.box3{
    width: 200px;
    height: 300px;
    /* background-color: rgb(253, 249, 249); */
    display: block;
    position: relative;
    border: 1px solid black;
    float: left;
}
